%h1= @talent.name

%b Amoebas with this talent:
%p
  - @talent.amoebas.each do |amoeba|
    %p= link_to "#{amoeba.name}", amoeba

.btn= link_to 'All Talents', talents_path
.btn= link_to 'All Amoebas', amoebas_path