= form_for @amoeba do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :act_id
    = f.number_field :act_id
  .field
    = f.label :talent_id
    = f.number_field :talent_id
  .actions
    = f.submit 'Birth It'