%h1 All the Amoebas

%table
  %tr
    %th Name
    %th Act
    %th Talent
    %th Generation

  - @amoebas.each do |amoeba|
    %tr
      %td= link_to "#{amoeba.name}", amoeba
      %td= link_to "#{Act.find(amoeba.act_id).name}", "acts/#{amoeba.act_id}"
      %td= link_to "#{Talent.find(amoeba.talent_id).name}", "talents/#{amoeba.talent_id}"
      %td= amoeba.gen_num
      %td= button_to 'Split', "/amoebas/split/#{amoeba.id}", :method => :split, :data => { :confirm => 'You sure?'}

%br

= button_to 'New Amoeba', new_amoeba_path