%h1 All the Amoebas

%table
  %tr
    %th Name
    %th Act
    %th Talent
    %th Generation

  - @amoebas.each do |amoeba|
    %tr
      %td= amoeba.name
      %td= Act.find(amoeba.act_id).name
      %td= Talent.find(amoeba.talent_id).name
      %td= amoeba.gen_num
      %td= link_to 'Show', amoeba
      %td= button_to 'Split', "/amoebas/split/#{amoeba.id}", :method => :split, :data => { :confirm => 'You sure?'}

%br

= link_to 'New Amoeba', new_amoeba_path