%h1= @amoeba.name

%p
  %b Act:
  = link_to Act.find(@amoeba.act_id).name, "/acts/#{@amoeba.act_id}"
%p
  %b Talent:
  = link_to Talent.find(@amoeba.talent_id).name, "/talents/#{@amoeba.talent_id}"
%p
  %b Generation:
  = @amoeba.gen_num

= button_to 'Split Amoeba', "/amoebas/split/#{@amoeba.id}", :method => :split, :data => { :confirm => 'You sure?' }
.btn= link_to 'All Amoebas', amoebas_path