%h1 This Amoeba

%p
  %b Name:
  = @amoeba.name
%p
  %b Act:
  = @amoeba.act_id
%p
  %b Talent:
  = @amoeba.talent_id
%p
  %b Generation:
  = @amoeba.gen_num

= button_to 'Split Amoeba', "/amoebas/split/#{@amoeba.id}", :method => :split, :data => { :confirm => 'You sure?' }
= link_to 'Back', amoebas_path