%h1 The Amoeba you split is now dead.
%h2 But two more were born in its place.

%table
  %tr
    %th Name
    %th Act
    %th Talent
    %th Generation

- @split_amoeba.each do |baby|
  %tr
    %td= link_to baby.name, baby
    %td= link_to Act.find(baby.act_id).name, "/acts/#{baby.act_id}"
    %td= link_to Talent.find(baby.talent_id).name, "/talents/#{baby.talent_id}"
    %td= baby.gen_num
  %br

%br

= link_to 'All Amoebas', amoebas_path