%h1 The Amoeba you split is now dead.
%h2 But two more were born in its place.

- @split_amoeba.each do |baby|
  %p
    %b Name:
    = baby.name
  %p
    %b Act:
    = baby.act_id
  %p
    %b Talent:
    = baby.talent_id
  %p
    %b Generation:
    = baby.gen_num

= link_to 'All Amoebas', amoebas_path