%h1 The Amoeba you split is now dead.
%h2 But two more were born in its place.

- @split_amoeba.each do |baby|
  %p
    %b Name:
    = baby.name
  %p
    %b Act:
    = Act.find(baby.act_id).name
  %p
    %b Talent:
    = Talent.find(baby.talent_id).name
  %p
    %b Generation:
    = baby.gen_num

= link_to 'All Amoebas', amoebas_path