%h1= @act.name

%p
  %b Date and Time of performance:
  = @act.date_time
%p
  %b Performers:
  %br
  - @act.amoebas.each do |amoeba|
    = link_to "#{amoeba.name}", amoeba
    %br


.btn= link_to 'All Acts', acts_path